body {
    overflow-x: hidden;
    font-size: 2rem;
    font-family: var(--font-text);
    color: var(--c-5);
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

@include respond-until($screen-xs) {
    html {
        font-size: 8px;
    }
}