.counter {
    @include flex-center;
    color: var(--c-5);

    p {
        font-size: 1.6rem;
    }

    p strong {
        font-family: var(--font-monospace);
    }

    p small {
        font-size: 1.4rem;
    }
}