.footer {
    color: white;
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem;

    &, a, button {
        color: white;
    }

    button, a {
        text-decoration: underline;
    }

    &--pre {
        padding-top: 0;
        margin-bottom: 2rem;
    }
}