.header {
    h1, h2, h3 {
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        color: var(--c-5);
    }

    h2 {
        font-size: 3.5rem;
        line-height: 1.25;
        font-weight: normal;
        @include flex-center;
    }

    h2 strong {
        color: var(--c-2);
    }

    h2 a {
        color: black;
        text-decoration: underline;
    }

    &__note {
        margin-top: 2rem;
        font-size: 2rem;
    }

    &__emoji {
        @include wh(2.4rem);
    }

    @include respond-until($screen-xs) {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 3.4rem;
        }
    }
}