.header {
    border: 1rem solid var(--c-1);
    border-radius: 2rem;
    padding: 2rem 1rem;
    background: white;
    width: 100%;
    max-width: var(--max-width);
    @include child-margins(3rem);

    h1, h2, h3 {
        text-align: center;
    }

    h1 {
        font-size: 2.2rem;
        color: var(--c-5);
    }

    h2 {
        font-size: 3.5rem;
        line-height: 1.25;
        font-weight: normal;
        @include flex-center;
    }

    h2 strong {
        color: var(--c-2);
    }

    h2 a {
        color: black;
        text-decoration: underline;
    }

    &__note,
    &__remark {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: normal;
        color: var(--c-4);
    }

    &__remark {
        font-size: 1.6rem;
        text-align: center;
    }

    &__emoji {
        @include wh(2.4rem);
    }

    @include respond-until($screen-xs) {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 3.4rem;
        }
    }
}