.main {
    background: var(--c-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

[v-cloak] > * {
    display: none !important;
}

[v-cloak]:before {
    content: '🥳 Een momentje aub...';
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 3rem;
}