@mixin content-block {
    border: 1rem solid var(--c-1);
    border-radius: 2rem;
    padding: 1rem;
    background: white;
    width: 100%;
    max-width: var(--max-width);
    @include child-margins(2rem);

    @include respond-from($screen-sm) {
        padding: 2rem;
    }
}