:root {
    --font-monospace: 'Menlo', 'Courier New', Courier, monospace;
    --font-text: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-header: 'MuseoSlab', Impact, serif;

    --c-1: #3c57a6; // Blue
    --c-2: #ee3c24; // Red
    --c-3: #6cbd45; // Green
    --c-4: #666;
    --c-5: #333;
    --c-6: #eee;

    --max-width: 70rem;
}